
.right-side-about{

    display: flex;
    align-items: flex-start;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
.left-side-about{

    display: flex;
    justify-content: center;

}
.search-icon {
    width: 28px;
    height: 28px;
}
.left-side-about img{

    border: 4px solid white;
    padding: 28px;
  
}

.content-flex{
    align-items: center;
}