
.right-side{

    display: flex;
    align-items: flex-start;

}
.left-side{

    display: flex;
    justify-content: center;

}
.search-icon {
    width: 28px;
    height: 28px;
}
.left-side img{

    border: 4px solid white;
    padding: 28px;
  
}

.content-flex{
    align-items: center;
}